<% @productos.each do |producto|%>
    <tr>
      <th scope="row"><%= link_to producto.id, categoria_producto_path(@categoria, producto) %>
      </th>
      <td><%= producto.nombre %></td>
      <td><%= producto.descripcion %></td>
      <td>
        <%= link_to "Editar", edit_categoria_producto_path(@categoria, producto) %>
        <%= link_to 'Borrar', categoria_producto_path(@categoria, producto), method: :delete, data: { confirm: 'Esta seguro?' } %>
        </td>
    </tr>
<% end %>