 <div class="container border p-4" style="background-color: #f0f0f0;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Iniciar sesión para Administradores</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'mb-4' }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "Iniciar sesión", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <p class="text-center">
        ¿No tienes una cuenta?
        <a href="<%= new_admin_user_registration_path %>" class="register-link">Registrarse como administrador</a>
      </p>
    </div>
  </div>
</div>

