<h1>Lista de Administradores</h1>

<div class="admin-cards">
  <% @admin_users.each do |admin_user| %>
    <div class="admin-card">
      <h3><%= admin_user.email %></h3>
      <p>First Name: <%= admin_user.first_name %></p>
      <p>Second Name: <%= admin_user.second_name %></p>
      <p>Last Name 1: <%= admin_user.last_name_1 %></p>
      <p>Last Name 2: <%= admin_user.last_name_2 %></p>
      <p>Identification: <%= admin_user.identification %></p>
      <p>Address: <%= admin_user.address %></p>
      <!-- Agrega aquí los campos adicionales que desees mostrar -->
    </div>
  <% end %>
</div>