<div class="container">
  <h2 class="text-center text-primary text-uppercase font-weight-bold mt-5 mb-5">Mejores Productos Calificados</h2>
  <div class="row">
    <% @productos.each do |producto| %>
      <% if producto.calificaciones.any? %>
        <div class="col-md-4">
          <div class="card mb-4">
            <%= image_tag producto.avatar.url, class: "card-img-top" if producto.avatar.present? %>
            <div class="card-body">
              <h1 class="card-title"><%= producto.nombre %></h1>
              <p class="card-text"><strong>Promedio de calificacion en:</strong> <strong class="star">★</strong> <%= producto.rating_average %></p>
              <p class="card-text"><strong>Descripción:</strong> <%= producto.descripcion %></p>
              <p class="card-text"><strong>Precio:</strong> <%= number_to_currency(producto.precio) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
