<!-- En la vista dashboard.html.erb -->
<h1>Panel de Administración</h1>

<h2>Información del Usuario</h2>
<p>Nombre: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>

<h2>Productos Pedidos</h2>
<% if @pedidos.any? %>
  <ul>
    <% @pedidos.each do |pedido| %>
      <li>
        Producto: <%= pedido.producto.nombre %><br>
        Descripción: <%= pedido.producto.descripcion %><br>
        Precio: <%= number_to_currency(pedido.producto.precio) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>El usuario no ha realizado ningún pedido aún.</p>
<% end %>