<h1>Solicitar un Producto</h1>

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="card mb-4">
        <%= image_tag @producto.avatar.url, class: "card-img-top img-fluid rounded" %>
        <div class="card-body">
          <h1 class="card-title h3 text-center text-primary"><%= @producto.nombre %></h1>
          <p class="card-text">Descripción: <%= @producto.descripcion %></p>
          <p class="card-text"><strong>Precio: <%= number_to_currency(@producto.precio) %></strong></p>
          
          <!-- Botón para abrir el modal de confirmación -->
          <button class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Solicitar Producto</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmar Solicitud</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <!-- Formulario de confirmación de datos del usuario -->
      <h4>Datos del Usuario:</h4>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" value="<%= current_user.first_name %>" readonly>
      </div>
      <div class="mb-3">
        <label for="segundoNombre" class="form-label">Segundo Nombre:</label>
        <input type="text" class="form-control" id="segundoNombre" value="<%= current_user.second_name %>" readonly>
      </div>
      <div class="mb-3">
        <label for="apellidoPaterno" class="form-label">Primer Apellido:</label>
        <input type="text" class="form-control" id="apellidoPaterno" value="<%= current_user.last_name_1 %>" readonly>
      </div>
      <div class="mb-3">
        <label for="apellidoMaterno" class="form-label">Segundo APe</label>
        <input type="text" class="form-control" id="apellidoMaterno" value="<%= current_user.last_name_2 %>" readonly>
      </div>
      <div class="mb-3">
        <label for="identificacion" class="form-label">Identificación:</label>
        <input type="text" class="form-control" id="identificacion" value="<%= current_user.identification %>" readonly>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico:</label>
        <input type="email" class="form-control" id="email" value="<%= current_user.email %>" readonly>
      </div>
      
      <!-- Formulario de confirmación de solicitud -->
      <%= form_for [@producto, @pedido] do |f| %>
        <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad:</label>
        <%= f.number_field :cantidad, class: "form-control", min: 1, value: 1 %>
      </div>
      
         <div class="field">
          <%= f.label :comentarios, "Comentarios" %>
          <%= f.text_area :comentarios, class: "form-control" %>
        </div>
      
        <%= f.hidden_field :producto_id, value: @producto.id %>
        
       </div>
       <div class="modal-footer">
       <button type="submit" class="btn btn-primary">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <% end %>
      </div>
    </div>
  </div>
</div>