<h1>Solicitar un Producto</h1>

<div class="producto-details">
  <%= image_tag @producto.avatar.url %>
  <h2><%= @producto.nombre %></h2>
  <p><%= @producto.descripcion %></p>
  <p>Precio: <%= number_to_currency(@producto.precio) %></p>
</div>
<%= form_for [@producto, @pedido] do |f| %>
  <div class="field">
    <%= f.hidden_field :producto_id, value: @producto.id %>
  </div>


  <div class="actions">
    <%= f.submit "Solicitar Producto" %>
  </div>
<% end %>
