<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" >
                    <div class="content_image">
                        <a class="<%= 'active' if current_page?('/home/index') %>">
                            <%= link_to "/dashboard/home" do %>
                                <div class="logo">
                                    <div class="contenedorLogoParte1">
                                        <%= image_tag "logo-blanco-pt-1.png", class: "logoParte1"%>
                                    </div>
                                    <div class="contenedorLogoParte2">
                                        <%= image_tag "logo-blanco-pt-2.png", class: "logoParte2"%>
                                    </div>
                                    </div>
                            <% end %>
                        </a>
                    </div>
                </div>
                <div class="logo-element">
                    <a class="<%= 'active' if current_page?('/home/index') %>">
                        <%= link_to "/home/index" do %>
                            <div class="logo">
                            <div class="contenedorLogoParte1">
                              <%= image_tag "logo-blanco-pt-1.png", class: "logoParte1"%>
                            </div>
                            <div class="contenedorLogoParte2">
                              <%= image_tag "logo-blanco-pt-2.png", class: "logoParte2"%>
                            </div>
                          </div>
                        <% end %>
                    </a>
                </div>
            </li>
            <li class="<%= 'active' if current_page?(admin_categorias_path) %>">
  <%= link_to admin_categorias_path do %>
    <i class="fa fa-laptop"></i> <span class="nav-label" style="font-size: 18px;">Crear Productos</span> <!-- Aumenta el tamaño de la fuente a 18px -->
  <% end %>
  <%= link_to('/landing_page') do %>
    <i class="fa fa-eye"></i><span class="nav-label" style="font-size: 18px;"> Revisar Tienda
  <% end %>
  <%= link_to dashboard_admin_users_path do %>
    <i class="fas fa-star"></i> <span class="nav-label" style="font-size: 18px;"> Ver Administradores
  <% end %>
  <%= link_to show_user_dashboard_path do %>
    <i class="fa fa-users"></i><span class="nav-label" style="font-size: 18px;"> Ver Usuarios con Pedidos
  <% end %>
</li>
        </ul>
    </div>
</nav>