<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1 class="mb-4">Crear Categoría</h1>
      <%= simple_form_for [:admin, @categoria], multipart: true do |f| %>
        <div class="form-group">
          <%= f.input :nombre, input_html: { class: 'form-control', required: true } %>
        </div>

        <div class="field">
          <%= f.label :imagen %>
          <%= f.file_field :imagen %>
        </div>
        
    
        <div class="text-center">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
