<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <title>Detalles del Producto</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/diseñoshow.css" rel="stylesheet" />

</head>
<body>

    <!-- Product section -->
    <section class="py-5 con-fondo" id="seccion-detalles-producto">
    <div class="container px-4 px-lg-5 my-5">
        <!-- Superposición semitransparente -->
        <div class="overlay"></div>

        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <%= image_tag @producto.avatar.url, alt: @producto.nombre, class: "card-img-top mb-5 mb-md-0" %>
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"><%= @producto.nombre %></h1>

                <!-- Botón de Descripción con flecha -->
                <a class="btn btn-outline-primary mb-3 custom-button" data-toggle="collapse" href="#descripcionProducto" role="button" aria-expanded="false" aria-controls="descripcionProducto">
                    Descripción <i class="bi bi-chevron-down"></i>
                </a>

                <!-- Descripción del Producto (dentro de un colapsable) -->
                <div class="collapse" id="descripcionProducto">
                    <p class="lead"><%= @producto.descripcion %></p>
                </div>
                
                <div class="collapse" id="descripcionProducto">
                <p class="card-text"><strong>Precio: <%= number_to_currency(@producto.precio) %></strong></p>
                </div>

                
                <div class="col-md-6">
                <%= link_to "Solicitar este producto", new_producto_pedido_path(producto_id: @producto.id) %>

                </div>
                        
                <!-- Icono de WhatsApp -->
                <div class="what">
                    <a href="https://wa.me/3046183844" target="_blank" class="whatsapp-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp whatsapp-icon" viewBox="0 0 16 16">
                            <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.920l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.160-.389-.323-.335-.445-.34-.114-.007-.247-.007-.380-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.480 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                        </svg>
                        <span class="whatsapp-text">Ir al Chat</span>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section>
    <!-- Related items section-->
    <section class="related-products-section" >
        <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4 text-center">Productos similares</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% @productos_relacionados.each do |producto_relacionado| %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <%= image_tag producto_relacionado.avatar.url, alt: producto_relacionado.nombre, class: "card-img-top" %>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= producto_relacionado.nombre %></h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="<%= pages_categoria_producto_path(@categoria, producto_relacionado) %>">Ver</a>
                              
                             </div>
                            </div>
                            
                        </div>
                    </div>
                <% end %>
            </div>
            <h2 class="form-title">Danos tu opinión del Producto</h2>
            <%= form_for([@producto, @calificacion], html: { class: 'calificacion-form' }) do |f| %>
              <div class="form-group">
                <%= f.label :rating, 'Calificación (1-5)', class: 'control-label' %>
                <div class="rating-input">
                  <% (1..5).each do |rating| %>
                    <label class="star-label">
                      <%= f.radio_button :rating, rating, class: 'star-input' %>
                      <span class="star"></span>
                    </label>
                  <% end %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :review, 'Comentario', class: 'control-label' %>
                <%= f.text_area :review, class: 'form-control review-input large-text' %>
              </div>
              <div class="form-group">
                <%= f.submit 'Calificar y Comentar', class: 'btn btn-primary' %>
              </div>
            <% end %>
            
              

            
            <h2>Calificaciones y Reseñas</h2>
            <% if @producto.calificaciones.any? %>
              <div class="calificaciones-container">
                <% @producto.calificaciones.each do |calificacion| %>
                  <div class="calificacion">
                    <div class="calificacion-header">
                      <p><strong>Calificación:</strong>
                        <% if calificacion.rating.present? %>
                          <span class="rating">
                            <% (1..calificacion.rating).each do %>
                              <span class="star">★</span>
                            <% end %>
                          </span>
                        <% else %>
                          <p>Sin calificación</p>
                        <% end %>
                      </p>
                      <span class="user-info large-username">Usuario:
                      <% if calificacion.user.present? %>
                        <%= calificacion.user.first_name %> <%= calificacion.user.last_name_1 %>
                      <% else %>
                        Anónimo
                      <% end %>
                    </span>
                    
                    </div>
                    <div class="calificacion-body">
                      <p><strong>Comentario:</strong> <%= calificacion.review %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>No hay calificaciones ni reseñas disponibles.</p>
            <% end %>
            
        </div>
    </section>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
