<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <title>Detalles del Producto</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/diseñoshow.css" rel="stylesheet" />

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/landing_page">
          <%= image_tag "icono.png", class: 'icono-header'%>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
        <%= link_to "Productos", pages_categorias_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Contacto", new_pages_contactopqrs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Quienes somos", pages_quienes_somos_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
         <li class="nav-item">
         <%= link_to 'Mi Perfil', user_profile_path, class: "nav-link" %>
        </li>
        <% end %>

      </ul>
      
          <% if user_signed_in? %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary blue", id: "boton-sesion" %>
          <% end %>
          
        </div>
      </div>
    </nav>
<div class="container-title"><%= @producto.nombre %></div>
    <section class="py-5 con-fondo" id="seccion-detalles-producto">
    <div class="container px-4 px-lg-5 my-5">
        <!-- Superposición semitransparente -->
        <div class="overlay"></div>

        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <%= image_tag @producto.avatar.url, alt: @producto.nombre, class: "card-img-top mb-5 mb-md-0" %>
            </div>
            <div class="col-md-6">
            <div class="container-info-product">
            <div class="container-price">
             <span class="label">Precio:</span<span>$<%= @producto.precio %></span>
              <% if @producto.disponible %>
              <%= link_to "Solicitar este producto", new_producto_pedido_path(producto_id: @producto.id), class: "btn btn-primary" %>
            <% else %>
              <div class="alert alert-danger">
                Este producto no está disponible.
              </div>
            <% end %>
              <i class="fa-solid fa-angle-right"></i>
            </div>

                
                <div class="container-description">
                <div class="title-description">
                    <h4>Descripción</h4>                
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description hidden">
                    <p>
                    <%= @producto.descripcion %>
                    </p>
                </div>
            </div>
            
            <div class="container-reviews">
            <div class="title-reviews">
              <h4>Reseñas</h4>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-reviews hidden">
              <h4>Calificaciones</h4>
              <div class="calificaciones-container">
                <% if @producto.calificaciones.any? %>
                  <% total_ratings = @producto.calificaciones.size %>
                  <% total_stars = 0 %>
                  <% @producto.calificaciones.each do |calificacion| %>
                    <% if calificacion.rating.present? %>
                      <% total_stars += calificacion.rating %>
                    <% end %>
                  <% end %>
                  <% average_rating = total_stars.to_f / total_ratings %>
                  <p><strong>Calificación Promedio:</strong>
                    <% (1..5).each do |i| %>
                      <% if average_rating >= i %>
                        <span class="star">★</span>
                      <% else %>
                        <span class="star">☆</span>
                      <% end %>
                    <% end %>
                    <%= average_rating %> / 5.0
                  </p>
                </div>
              <% else %>
                <p>No hay calificaciones ni reseñas disponibles.</p>
              <% end %>
            </div>
          </div>
          
          
          

            <div class="container-social">
					<span>Compartir</span>
					<div class="container-buttons-social">
						<a href="#"><i class="fa-solid fa-envelope"></i></a>
						<a href="#"><i class="fa-brands fa-facebook"></i></a>
						<a href="#"><i class="fa-brands fa-twitter"></i></a>
						<a href="#"><i class="fa-brands fa-instagram"></i></a>
						<a href="#"><i class="fa-brands fa-whatsapp"></i></a>
					</div>
				</div>
			</div>
                
    
                
                </div>
                
            </div>
        </div>
    </div>

    </section>
    <!-- Related items section-->
    <section class="related-products-section" >
        <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4 text-center">Productos similares</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% @productos_relacionados.each do |producto_relacionado| %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <%= image_tag producto_relacionado.avatar.url, alt: producto_relacionado.nombre, class: "card-img-top" %>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= producto_relacionado.nombre %></h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="<%= pages_categoria_producto_path(@categoria, producto_relacionado) %>">Ver</a>
                              
                             </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </section>

    
          <h2 class="form-title">Danos tu opinión del Producto</h2>
            <%= form_for([@producto, @calificacion], html: { class: 'calificacion-form' }) do |f| %>
              <div class="form-group">
                <%= f.label :rating, 'Calificación (1-5)', class: 'control-label' %>
                <div class="rating-input">
                  <% (1..5).each do |rating| %>
                    <label class="star-label">
                      <%= f.radio_button :rating, rating, class: 'star-input' %>
                      <span class="star"></span>
                    </label>
                  <% end %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :review, 'Comentario', class: 'control-label' %>
                <%= f.text_area :review, class: 'form-control review-input large-text' %>
              </div>
              <div class="form-group">
                <%= f.submit 'Calificar y Comentar', class: 'btn btn-primary' %>
              </div>
            <% end %>

            <% if @producto.calificaciones.any? %>
  <div class="calificaciones-container">
    <% @producto.calificaciones.each do |calificacion| %>
      <% if calificacion.user.present? %>
        <div class="calificacion">
          <div class="calificacion-header">
            <p><strong>Calificación:</strong>
              <% if calificacion.rating.present? %>
                <span class="rating">
                  <% (1..calificacion.rating).each do %>
                    <span class="star">★</span>
                  <% end %>
                </span>
              <% else %>
                <p>Sin calificación</p>
              <% end %>
            </p>
            <span class="user-info large-username">Usuario: <%= calificacion.user.first_name %> <%= calificacion.user.last_name_1 %></span>
          </div>
          <div class="calificacion-body">
            <p><strong>Comentario:</strong> <%= calificacion.review %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No hay calificaciones ni reseñas disponibles.</p>
<% end %>
            
              

            
        </div>
    </section>
    <footer class="py-5 pie-de-pagina-tienda"> 
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Creditos3A   2023</p></div>
                      
  </footer>
    <script>
        const toggleDescription = document.querySelector('.title-description');
        const contentDescription = document.querySelector('.text-description');
        const toggleReviews = document.querySelector('.title-reviews');
        const contentReviews = document.querySelector('.text-reviews');

        toggleDescription.addEventListener('click', () => {
            contentDescription.classList.toggle('hidden');
        });
        toggleReviews.addEventListener('click', () => {
	       contentReviews.classList.toggle('hidden');
});
    </script>
		<script
    src="https://kit.fontawesome.com/81581fb069.js"
    crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
