<main class="registro1">
<header>
  <div class="logo">
  <div class="contenedorLogoParte1">
    <%= image_tag "logo_creditos.png", class: "logoParte1"%>
  </div>
  <div class="contenedorLogoParte2">
    <%= image_tag "logo_simbolo.png", class: "logoParte2"%>
  </div>
  </div>
</header>
<main class="registro">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card mt-5">
        <div class="card-header">
          <h3 class="titulo">Registrarse</h3>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.text_field :first_name, autofocus: true, class: "form-control mb-1", placeholder: "Primer  nombre" %>
            <%= f.text_field :segundo_nombre, autofocus: true, class: "form-control mb-1", placeholder: "Segundo nombre" %>
            <%= f.text_field :primer_apellido, class: "form-control mb-1", placeholder: "Primer apellido" %>
            <%= f.text_field :segundo_apellido, class: "form-control mb-1", placeholder: "Segundo apellido" %>
            <%= f.text_field :identificacion, class: "form-control mb-1", placeholder: "Numero de identificacion" %>
            <%= f.text_field :direccion, class: "form-control mb-1", placeholder: "Direccion" %>
            <%= f.email_field :email, autofocus: true, class: "form-control mb-1", placeholder: "Email" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-1", placeholder: "Contraseña" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-1", placeholder: "Confirmar contraseña" %>
            <%= f.submit "Registrarse", class: "registrar" %>
          <% end %>
          <%= link_to "Iniciar sesión", new_user_session_path, class: "iniciar" %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<footer>
<p class="textoPiePagina">@2023 Créditos 3A</p>
</footer>
