<h1>Detalles del Producto</h1>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="card mb-4">
        <%= image_tag @producto.avatar.url, class: "card-img-top img-fluid rounded" %>
        <div class="card-body">
          <h1 class="card-title h3 text-center text-primary"><%= @producto.nombre %></h1>
          <p class="card-text">Descripción: <%= @producto.descripcion %></p>
          <p class="card-text"><strong>Precio: <%= number_to_currency(@producto.precio) %></strong></p>
          
          <!-- Agregar botones para editar y eliminar -->
          <div class="d-flex justify-content-center mt-3">
            <%= link_to "Editar", edit_admin_categoria_producto_path(@categoria, @producto), class: "btn btn-primary mr-3" %>
            <%= link_to "Eliminar", admin_categoria_producto_path(@categoria, @producto), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este producto?' }, class: "btn btn-danger" %>
          </div>
          <div class="text-center mt-3">
            <%= link_to "Volver a la lista de productos", admin_categoria_productos_path(@categoria), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
